@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;600&display=swap');

:root {
    --primary: #082464;
    --si: #08c494;
}

body {
    background-color: #fafafa;
    font-family: 'Open Sans', system-ui, 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    padding: 0;
}

section {
    width: 1200px;
}

header {
    padding: 0;
    margin: 3rem 0rem 4.5rem;
}

header a {
    color: black;
}

header a:hover {
    color: var(--primary);
    text-decoration: none;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header nav li {
    border-bottom: 3px solid transparent;
    padding-bottom: 4px;
}

header nav li:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

header nav li:first-child,
header nav li:last-child {
    border-bottom-color: transparent;
}

header a {
    font-weight: 400;
}

article {
    margin-bottom: 3rem;
    border-left: 4px solid var(--primary);
}

article > img.float {
    float: right;
    height: 60px;
    margin: -1rem -1rem 0 0;
}

article > h1,
article > h2 {
    margin-top: 0;
}
.pcolor,
a {
    color: var(--primary);
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 3pt;
    color: var(--primary);
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 200;
}

ul {
    list-style-type: square;
}

p {
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    border: 2px solid var(--primary);
    padding: 0.5rem 1.5rem;
    background-color: var(--primary);
    color: white;
}
.button:hover {
    text-decoration: none;
    color: var(--primary);
    background-color: transparent;
}
.button:last-child {
    margin-top: 1.5rem;
}
header .button:last-child {
    margin-top: inherit;
}

.logo-container {
    width: 150px;
    display: flex;
    justify-content: center;
}

.logo-container a,
.logo-container img {
    display: inline-block;
}

.main-teaser {
    display: flex;
    justify-content: start;
    align-items: center;
    border-color: transparent;
    background-color: transparent;
}

.main-teaser h1 {
    text-align: right;
    display: block;
    height: 100%;
    padding-right: 2rem;
    border-right: 2px solid var(--primary);
}

.main-teaser h2 {
    margin-top: 1rem;
}

.main-teaser ul {
    list-style: none;
}

#about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#about a {
    font-weight: bold;
}

#about h2 {
    margin-top: 0;
}

#about aside {
    min-width: 25%;
    margin-left: 3rem;
    text-align: center;
}

#about figure h3 {
    margin: 1rem auto 0.25rem;
}

#about figure h4 {
    margin: 0.25rem auto;
    font-weight: normal;
}

#career h4 {
    font-weight: bold;
    color: var(--primary);
}

#career h4 span {
    font-weight: normal;
}

.viktory-color {
    font-family: 'Playfair Display', 'Open Sans', system-ui, 'Helvetica Neue',
        Helvetica, Arial;
    letter-spacing: 0;
    color: #282424;
    border-color: #282424;
    text-transform: none;
}
.viktory-color ul {
    margin: 0;
    list-style-type: none;
}
.viktory-color ul ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

.si-color {
    border-color: var(--si);
}

.mcf-color {
    color: var(--primary);
    border-color: var(--primary);
}
